
body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-height: 3800px;
  height: 100vh;
  @include breakpoint(small all){
    background-color: #2d383d;
  }
  @include breakpoint(medium){
    background-color: #2d383d;
  }
  @include breakpoint(large){
    // background: url('../assets/orange_pattern.png');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-color: rgba(141, 157, 167, 0.72);
  }
}
.wrap {
  max-width: 1111px;
  margin: 0 auto;
  background-color: #fff;
}

.wrap{
  @include breakpoint(small only) {
    width: 96vw;
  }
  @include breakpoint(medium) {
    width: 94vw;
  }
  @include breakpoint(large) {
    width: 83vw;
  }
}
.logo{
  display: flex;
  width: 100%;
  justify-content: space-around;
  background: url('../assets/initials_logo9.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  @include breakpoint(small all){
    height: 128px;
  }
  @include breakpoint(medium){
    height: 258px;
  }
  @include breakpoint(large){
    height: 400px;
  }
}
.logo-image{
  // background: url('../assets/musket.png');
  // background-size: cover;
  // background-position: right;
  // background-repeat: no-repeat;
  // height: 122px;
}
.sub-title{
  display: flex;
  width: 100%;
  font-weight: normal;
  letter-spacing: 0.034em;
  color: #e1eaec;
  padding-top: 24px;
  text-transform: capitalize;
  @include breakpoint(small all){
    font-size: 1.44em;
    line-height: 27px;
    letter-spacing: 0;
    padding-top: 34px;
    justify-content: flex-start;
  }
  @include breakpoint(medium){
    margin-top: 33px;
    font-size: 1.2em;
    line-height: 44px;
    justify-content: flex-start;
    font-size: 2.72em;
  }
  @include breakpoint(large){
    font-size: 3.1em;
    width: 100%;
    letter-spacing: 0;
    justify-content: flex-end;
    margin-top: 0;
    line-height: 38px;
  }
}
.sub-name{
  display: flex;
  font-weight: lighter;
  color: #8ddbe8;
  @include breakpoint(small all){
    font-size: 0.84em;
    justify-content: flex-start;
    padding-top: 0px;
  }
  @include breakpoint(medium){
    font-size: 1.18em;
    width: 100%;
    justify-content: flex-start;
    padding: 0;
    }
  @include breakpoint(large){
    font-size: 1.45em;
    width: 100%;
    justify-content: flex-end;
    padding: 0;
    }
}
#main-nav{
  // background-color: rgb(255, 244, 218);
}
.top-bar{
  background-color: rgba(230, 230, 230, 0);
}
.top-bar-right{
  width: 100%;
  display: flex;
  justify-content: center;
}
.top-bar, .top-bar ul{
  background-color: #2d383d;
  // background-color: rgba(45, 56, 61, 0.72);
}
.title-bar{
  background-color: #5199A5;
}
.is-dropdown-submenu{
  border: none;
}
.is-dropdown-submenu>li{
  display: flex;
  justify-content: flex-end;
}
.menutext{
  color: #a3dbe5;
  @include breakpoint(small all){
    font-size: 1.04rem;
    font-weight: bold;
  }
  @include breakpoint(medium){
  }
  @include breakpoint(large){
    font-size: 1.33rem;
    letter-spacing: 0.022em;
    font-weight: bold;
  }
}
.drilldown a{
  background-color: rgba(231, 214, 113, 0);
  color: #fefefe
}
.is-drilldown{
  min-height: 157.5px;
}
#myname {
  font-weight: bolder;
  font-size: 1.37em;
  // margin: 0.5em auto;
}
.moto {
  display: flex;
  color: red;
  font-size: 1.04em;
  font-style: italic;
  align-self: center;
}
.ohk_hero {
  // background: url('../assets/polygons.png');
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
}
.callout {
  background-color: rgba(255, 222, 173, 0);
  border: none;
}

// #my-title {
//   @include breakpoint(small all) {
//     display: flex;
//     width: 100%;
//     font-weight: lighter;
//     font-style: italic;
//     font-size: 0.77em;
//   }
//   @include breakpoint(medium) {
//     display: none;
//   }
//   @include breakpoint(large){
//     display: none;
//   }
// }
.menu .menu-text {
  @include breakpoint(small all) {
    display: none
  }
  @include breakpoint(medium){
    display: flex;
  }
  @include breakpoint(large){
    display: flex;
  }
}
.card {
  margin-top: 1rem;
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
a{
  color: #5199A5;
  color: #5199a5;
}
a:hover, a:focus{
  color: #cdaa72;
}
