
body {
  background: url('../assets/white_pattern.png');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  background-color: #b8b3c3;
  height: 100vh;
  margin: 0 auto;
  max-height: 3800px;
  display: flex;
  flex-wrap: wrap;
}
.wrap {
  width: 84vw;
  max-width: 1100px;
  margin: 0 auto;
  background-color: white;
}

.wrap{
  @include breakpoint(small only) {
    width: 96vw;
    margin: 0 auto;
  }
  @include breakpoint(medium) {
    width: 94vw;
    margin: 0 auto;
  }
}
.logo{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.logo-image{
  background: url('../assets/wantoks-logo.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 122px;
}
.sub-title{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 24px 0;
  font-weight: bold;
  font-size: 1.2em;
}



.top-bar{
  background-color: rgba(230, 230, 230, 0);
  margin-bottom: 51px;
  margin-top: 10px;
}
.top-bar-right{
  width: 100%;
  display: flex;
  justify-content: center;
}
.top-bar, .top-bar ul{
  background-color: rgba(230, 230, 230, 0);
}
.is-dropdown-submenu{
  border: none;
}
.is-dropdown-submenu>li{
  display: flex;
  justify-content: flex-end;
}
.menutext{
  font-size: 1.04rem;
  font-weight: bold;
  color: black;
}

#myname {
  font-weight: bolder;
  font-size: 1.37em;
  // margin: 0.5em auto;
}
.moto {
  display: flex;
  color: red;
  font-size: 1.04em;
  font-style: italic;
  align-self: center;
}
.ohk_hero {
  // background: url('../assets/polygons.png');
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
}
.callout {
  background-color: rgba(255, 222, 173, 0);
  border: none;
}

#my-title {
  @include breakpoint(small all) {
    display: flex;
    width: 100%;
    font-weight: lighter;
    font-style: italic;
    font-size: 0.77em;
  }
  @include breakpoint(medium) {
    display: none;
  }
  @include breakpoint(large){
    display: none;
  }
}
.menu .menu-text {
  @include breakpoint(small all) {
    display: none
  }
  @include breakpoint(medium){
    display: flex;
  }
  @include breakpoint(large){
    display: flex;
  }
}
.card {
  margin-top: 1rem;
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
